<%= stylesheet_link_tag 'create_tasks', plugin: 'create_tasks' %>
<% spa_url = project_create_tasks_spa_path(@project) %>

<div class="create-tasks-root">
  <iframe
    class="create-tasks-frame"
    src="<%= spa_url %>"
    loading="lazy"
  ></iframe>
</div>
