<div class="contextual">
  <%= link_to l(:button_back), :back rescue link_to l(:button_back), home_path %>
</div>

<h2><%= l('redmine_create_tasks.forbidden.title') %></h2>
<p><%= l('redmine_create_tasks.forbidden.message') %></p>
